%h3 Old Dominion Kayaks is proud to offer high quality kayaks from these brands.
%br
%div#kayak_manufacturers
  .float_right
    %a{:href => '/kayaks/Cobra Kayaks'}
      %img{:src => '/images/manufacturers/cobra_kayaks.jpg', :title => "Cobra Kayaks", :alt => "Cobra Kayaks"}
  %div#malibu_logo.float_left
    %a{:href => '/kayaks/Malibu Kayaks'}
      %img{:src => '/images/manufacturers/malibu_kayaks.jpg', :title => "Malibu Kayaks", :alt => "Malibu Kayaks"}

.clearfix