%h3 Old Dominion Kayaks is proud to offer high quality kayaks from:
%br
%div#kayak_manufacturers
  %div#malibu_logo
    %a{:href => '/kayaks/Malibu Kayaks'}
      %img{:src => '/images/manufacturers/malibu_kayaks.jpg', :title => "Malibu Kayaks", :alt => "Malibu Kayaks"}

.clearfix