html,body{
    height: 100%;
}

/* OLD STYLES */
.red_italics {
    color: red;
    font-style: italic;
}
.clearboth {
	clear:both;
}

.imgleftnoborder {
float : left;
padding : 5px;
margin-right : 15px;
}
.imgrightnoborder {
float : right;
padding : 5px;
margin-left : 15px;
}

.speclabel {
font-weight : bold;
color : #18286B;
}

.center {
    width: 100%;
    margin:  auto;
}

.admin_nav_container {
    position: relative;
    z-index: 10;
    margin-top: -40px;
    text-align: center;
}

.admin_nav {
    background-color: white;
    border: 2px solid #336699;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 10px;
    -moz-box-shadow: 0px 5px 5px #666;
    -webkit-box-shadow: 0px 5px 5px #666;
    box-shadow: 0px 5px 5px #666;
}

.admin_nav a{
    text-decoration: none;
}

.admin_main {
    width: 900px;
    border: 2px solid #336699;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-top: 20px;
    background: #FFF;
    color: #666;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    -moz-box-shadow: 0px 5px 5px #666;
    -webkit-box-shadow: 0px 5px 5px #666;
    box-shadow: 0px 5px 5px #666;
}

.table_background {
float: left;
display: block;
padding-top: 1em;
padding-left: 1em;
padding-bottom: 1em;
padding-right: 1em;
background: #E0E9F8;
border:2px solid #336699;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
-khtml-border-radius: 15px;
border-radius: 15px;
margin: 2px;
}
.tableBorder td{
	border: 1px solid #CCCCCC;
	margin: 0px;
	padding: 2px;
}
#tableBorder td{
	border: 1px solid #CCCCCC;
	margin: 0px;
	padding: 2px;
}

.happy {
    color: green;
}

.sad {
    color: red;
}


/* BACK TO THE NEW STYLES */
body {
	padding:0px;
	margin:0px;
	background: url(/images/bg_body.jpg) #9CF repeat-x;
}
a {
	color:#036;
}
a:hover {
	color:#666;
	text-decoration:none;
}
.center_text{
    text-align: center;
}

#kayak_manufacturers{
    margin:auto;
    width:600px;
}
h1 {
    font-size: 35px;
    padding: 0px 0px 30px 0px;
    text-align: center;
    color: #036;
    font-family: 'Belleza', sans-serif;
}

h2{
    font-size: 30px;
    padding: 0px 0px 30px 0px;
    text-align: center;
    color: #036;
    font-family: 'Belleza', sans-serif;
}

h3{
    font-size: 25px;
    padding: 0px 0px 15px 0px;
    text-align: center;
    color: #036;
    font-family: 'Belleza', sans-serif;
}
ul li{
    /*margin-left: 10px; */
    list-style-type: none;
}
hr{
    color: #036
}
.no_style_table tr td{
    padding:0px;
    padding-right: 10px;
    margin:0px;
}
.notice{
    font-size: 20px;
    text-align: center;
    color: green;
}
.alert{
    font-size: 20px;
    text-align: center;
    color: red;
}
.color_box{
    width: 30px;
    border: 1px solid #808080;
    height: 30px;
    margin-bottom: 5px;
}
.product_tabs{
    float: left;
    width: 390px;
}
.logout{
    float:right;
}
#malibu_logo{
    padding-top: 40px;
}
#water_description {
    margin-left: 380px;
    margin-right: 10px;
}
#water_image {
    margin-bottom: 20px;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.centered_product_thumb {
    margin-left: auto;
    margin-right: auto;

}
.centered_products_table {
    width: 52em;
    margin-left: auto;
    margin-right: auto;

}
.products_detail_thumb {
    height: 21.5em;
    width: 350px;
    padding: 4px;
    text-align: left;
    background-color: #FFF;
    border-width: 2px;
    border-style: solid;
    border-color: #336699;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.product_image_div{
    height: 155px;
}
.details_left{
    float: left;
    margin-left: 30px;
}
.details_right{
    float: right;
    margin-right: 30px;
}
.drop_shadow{
    -moz-box-shadow: 3px 3px 2px #999;
    -webkit-box-shadow: 3px 3px 2px #999;
    box-shadow: 3px 3px 2px #999;
}
.products_table tr {
   padding: 0.5em;
}

.products_table td {
    padding: 0.5em;
    vertical-align: top;
}

.clearfix {
	clear:both;
}
.c_all {
	width:960px;
	padding:0px;
	margin:0px auto 0px auto;
}
.c_masthead {
	width:960px;
	height:179px;
	background: url(/images/bg_masthead.jpg) no-repeat;
	margin:0px;
	padding:0px;
}
.c_nav {
    position: relative;
    z-index: 1;
	width:960px;
	height:33px;
	background: url(/images/bg_nav.jpg) repeat-x;
	line-height:33px;
	text-align:center;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-shadow: 0px 1px 5px #000;
}
.c_nav ul li {
	display:inline;
	padding:0px 20px 0px 20px;
}
.c_nav li a {
	color:#FFF;
	text-decoration:none;
}
.c_nav li a:hover {
	color:#CCC;
	text-decoration:none;
	text-shadow: 0px 1px 5px #036;
}
.c_main {
    border: 2px solid #336699;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	width:900px;
	padding:20px;
	margin:10px;
	background:#FFF;
	color:#666;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	-moz-box-shadow: 0px 5px 5px #666;
	-webkit-box-shadow: 0px 5px 5px #666;
	box-shadow: 0px 5px 5px #666;
}
/* Style for Usual tabs */
.usual {
	padding:0px;
	width:600px;
	margin:0px;
}
.usual li {
	list-style:none;
	float:left;
	margin:0px 10px 0px 0px;
}
.usual ul a {
	display:block;
	padding:5px 8px 1px 8px;
	text-decoration:none!important;
	margin:0px;
	color:#369;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}
.usual ul a:hover {
	color:#CCC;
}
.usual ul a.selected {
	color:#000;
	cursor:default;
	font-size:16px;
	background-color:#CCC;
	text-shadow: 0px 1px 1px #FFF;
}
.usual div {
	padding:10px 0px 0px 0px;
	clear:left;
	display:block;
	border-top: 1px solid #CCC;
	clear:both;
}
.usual div a {
	color:#000;
	font-weight:bold;
}
.usual div img {
	padding:5px;
	border:1px solid #CCC;
	float:right;
	margin:0px 0px 10px 20px;
}
#tabs3 {
	background:#FF9;
}
.col_left {
	width:600px;
	padding:0px;
	margin:0px;
	float:left;
	line-height:24px;
}
.col_right {
	width:270px;
	padding:0px;
	margin:0px;
	float:right;
}
.events {
	width:240px;
	padding:55px 15px 10px 15px;
	margin:0px;
	background: url(/images/bg_events.jpg) no-repeat;
	color:#333;
	font-size:13px;
	line-height:21px;
}
.partners {
	padding:10px 0px 10px 0px;
	margin:30px 0px 0px 0px;
	background-color:#369;
	text-align:center;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.partners h2 {
	font-size:20px;
	padding:0px 0px 10px 10px;
	color:#FFF;
	text-align:center;
	text-shadow: 0px 1px 5px #000;
}
.partners ul li {
	display:inline;
	padding:0px 10px 0px 10px;
}
.partners li a {
    font-size: 12px;
	color:#CCC;
	text-decoration:none;
}
.patners li a:hover {
	color:#CCC;
	text-decoration:none;
	text-shadow: 0px 1px 5px #036;
}
.footer {
	border-top:2px solid #036;
	text-align:center;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-shadow: 0px 1px 1px #FFF;
	color:#666;
	height:120px;
	padding:10px 0px 0px 0px;
	margin:0px 10px 20px 10px;
	background: url(/images/icon_footer.jpg) no-repeat center bottom;
}
.footer ul li {
	display:inline;
	padding:0px 15px 0px 15px;
}
.footer li a {
	color:#369;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	text-shadow: 0px 1px 5px #FFF;
}
.footer li a:hover {
	color:#CCC;
	text-decoration:none;
	text-shadow: 0px 1px 5px #036;
}

/* FAQs */
.faq_answer{
    background-image: url('/images/small_kayak.gif');
    background-repeat: no-repeat;
    padding: 5px 30px 5px 70px;
    height: 40px;
    background-color: #EEE;
    border: 2px solid #666;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.faq_list {
    padding: 30px 70px 30px 70px;
    background-color: #EEE;
    border: 2px solid #666;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/* ---- ( iTunes CSS ) ---- */

.itunes_table {
    display: block;
    float: left;
    padding: 1em;
    border: 2px solid #336699;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    margin: 2px;
    font: 80% Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    text-align: left;
    border-collapse: collapse;
}

.itunes_table a {
    text-decoration: underline;
}

.itunes_table a:visited {
    text-decoration: none;
}

.itunes_table tr.odd {
    background-color: #ebf3ff;
}

.itunes_table tr a {
    color: #000000;
}

.itunes_table tr {
    vertical-align: top;
}

.itunes_table tr, th, td {
    padding: .75em;
}

.itunes_table td {
    border-left: 1px solid #dadada;
}

.itunes_table tfoot td, tfoot th {
    color: #000;
    border: 0px;
}

.itunes_table caption {
    height: 45px;
    line-height: 44px;
    color: #60634E;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: -1px;
    background-position: 50% top;
    border-left: 2px solid #616161;
    border-right: 2px solid #616161;
}

.itunes_table thead th[scope='col']{
    border-bottom: 1px solid #dadada;
    background: #ffffff url('/images/tbar.gif') repeat-x;
}

.itunes_table thead th[scope='col']:hover {
    background: #ffffff url('/images/tbov.gif') repeat-x;
}

.itunes_table thead tr:hover, tr.odd:hover{
    color: #000;
}

.itunes_table tr:hover a {
    color: #ffffff;
}

.itunes_table tr:hover, tr.odd:hover {
    background-color: #3d80df;
    color: #ffffff;
}

/* Error styles */

.field_with_errors {
    padding: 2px;
    padding-bottom: 4px;
    background-color: beige;
    display: table;
    border: 1px solid #bc8f8f;
    color: red;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}