=link_to "Manufacturers", manufacturers_path
\|
=link_to "Trips", trips_path
\|
=link_to "Products", products_path
\|
=link_to "Paddlers", paddlers_path
\|
=link_to "FAQ", questions_path
\|
=link_to "Images", images_path
\|
=link_to "Clearance Items", clearance_items_path
\|
=link_to "Events", events_path
\|
=link_to "Colors", colors_path