<h2>Choosing a kayak and accessories.</h2>
<p>
  The two most important things to really pay attention to when buying a kayak are:
  <br/>
  <br/>
  <b>1.</b>
  The seat- the seat
  <b>must</b>
  be comfortable. A bad seat will chase you in. You won’t want to take it out again and again….. That’s the point I think… you spend the $$, you want to get out there and get your money’s worth. Sit in whatever you looking at…try it out.
  <br/>
  <b>2.</b>
  How stable does it feel to you on the water? How stable do you need it to feel? There’s paddling for exercise and the scenery, with just a pfd and a paddle. Then there’s fishing when you take a lot of extra/expensive equipment, and you are making
  movements on the yak that are not just paddling movements. There’s only one way to tell that. Try it before you buy it. That way you have a better chance of getting the right thing.
</p>
<br/>
<p>
  The sit on top style kayak lends itself to the fishing activity better than a sit inside. 99% of buyers looking for a kayak for the activity of fishing are buying single seat SOT boats. I’ve had both, there’s no comparison. You are more maneuverable
  on a SOT. Sit sideways with your feet hanging out. It’s more stable. You can carry more stuff, even dogs or small children.
</p>
<br/>
<p>
  That said, the Malibu Kayaks S10, is wider than most sit inside yaks, which makes it very stable from side to side. The bottom of the boat doesn’t turn up till it gets to the sides. The bottom of most sit inside yaks start slanting up from the keel,
  makes them less stable.
</p>
<br/>
<p>
  Generally speaking, the longer a kayak is the better it will track. The longer it is the less maneuverable it is. At 11.5ft to 12.5ft you generally find a good mix. After that it’s feel and trade offs. Shorter boats are harder to keep straight, so
  you expend more energy getting from place to place just trying to straighten the boat. Malibu’s MiniX does have a deep keel on it to help with tracking... better than some other short boats out there, but it’s not like a longer boat. That said, it’s
  great for float fishing or running rapids with or w/o a fishing pole. It’s a Richmond/James River kind of boat.
</p>
<br/>
<p>
  <b>Paddles:</b>
  I teach people to paddle flat, elbows locked, twist with your torso. That is, when you’re going from here to way over there. Keeps you from wearing out your biceps. Flat paddling requires a long paddle. I sell wide, stable boats. No matter your size,
  nothing less than 240lg. The more you spend the lighter they get. Spend as much as possible on the paddle, you’ll stay out there longer. Also, it’s odd but you can put more energy into the water with a lighter weight paddle. It’s like the seat... get
  good equipment, enjoy it more. Shorter boats may require a more upright stoke to keep them straight.
</p>
<br/>
<p>
  <b>PFDs:</b>
  a paddler’s pfd should be narrow on the shoulders so it won’t rub your neck as your shoulders move. Better kayak seats have high backs; you need a pfd with a high back so it won’t ride up on you from fighting the seat. It should be plenty open on the
  sides for ventilation. And of course, for fishing, you’ll need one that has a bunch of pockets for stuffing essentials, like lures. Kayakers don’t take closet sized tackle boxes with every lure they’ve ever owned. It’s more about taking the stuff
  you’re most likely going to be using... economies of space, and working from your vest like a trout fisherman wading in a stream.
</p>
<br/>
<p>
  Bright colors are about safety. Being seen by speed boats... you’re sitting low in the water. Only the top 6 to 8 inches are visible. If you must get a neutral or dark color then look into a pfd with some color and a safety flag like the VISIPole.
</p>
<br/>
<p>
  Those are the high spots. The site kayakfishingstuff, listed above, has long articles.I’ve given you the highlights.
</p>
<br/>
<p>
  <b>How to carry:</b>
  I carry a Yakima catalog for brain storming.
  <a href='http://www.yakima.com/shop/water'>http://www.yakima.com/shop/water</a>
  Best place to get stuff is Agee’s Bicycles, Carrytown. They discount 10% and they know what they’re doing. I think because they work on things…..assembling bikes, they’re use to looking up things in catalogs and putting them together in their heads.
  You don’t need to be ready with that... I deliver reasonable distances. Oh, round bars aren’t necessarily the best, but, they are the strongest. Thule makes rectangular bars. Nothing rotates around a square, but a loose fitting accessory will rotate
  on a round bar. That said round bars are stronger in the middle than square bars, if you’re going to be carrying flat in the middle. I have round bars, I fasten securely, I don’t have problems with things rotating.
</p>
<br/>
<h3>Helpful sites</h3>
<a href='http://www.tkaa.org/'>http://www.tkaa.org/</a>
Fishing club in VA Beach. Look for launch sites
<br/>
<a href='http://www.americanwhitewater.org/content/River/view/'>http://www.americanwhitewater.org/content/River/view/</a>
Some description of various sections of rivers the book my son uses for river planning- James River Guide, fishing and floating, by Bruce Ingram
<br/>
<a href='http://www.paddlinglight.com/articles/wetsuit-vs-drysuit-for-paddling/'>http://www.paddlinglight.com/articles/wetsuit-vs-drysuit-for-paddling/</a>
<br/>
<a href='http://www.saltwatertides.com/pickpred.html'>http://www.saltwatertides.com/pickpred.html</a>
Tide predictor
<br/>
<a href='http://www.tidewateradventures.com/sites.php'>http://www.tidewateradventures.com/sites.php</a>
Guide services are out there, use them to see where they go.
<br/>
<a href='http://www.mapmyrun.com/create_new'>http://www.mapmyrun.com/create_new</a>
Use for checking out distances
<br/>
<a href='http://www.heroesonthewater.org/home'>http://www.heroesonthewater.org/home</a>
Heroes on the Water……
<br/>
<br/>
<p>
  Have a look around my web site. The best/most stable boat I have for uneven water is the XFactor. The Stealth 14, cut from the XFactor, is right there with it. The XFactor has a reputation in the industry as a big boy boat. Taller, bigger people have
  a higher center of gravity. If they feel comfortable on it, average sized folks will be just that much more stable on it. Right behind those are the Cobra Fish & Dive and the Malibu Stealth12. The Stealth boats are mostly for open water, bay, ocean,
  lakes,
  <b>not</b>
  for shallow, boulder infested rivers. The Stealth’s have been reworked for 2013 to port the live well off center of the keel. This will allow some incidental contact with river obstructions, but caution should be exercised. I haven’t tried to bust
  one yet but it looks like it should handle rocks OK. The XFactor and Cobra F&D can be taken anywhere. Malibu’s X13 can be taken anywhere. It’s narrower with rounded sides, like other makes, so it glides thru the water better, just less stable….not
  unstable, less stable. The X-Caliber is a good stable boat, in any environment, easier to transport than the heavier boats, big bow hatch will accept a lot of gear, big enough in the back to carry a milk crate. It has adjustable footrests and should
  fit most people. It has a California bottom, which is somewhat flat making it more stable when sliding over unseen boulders.
</p>
<br/>
<p>
  The paddle I carry is the Werner Skagit Hooked x240, 34.5 oz - $130.00 -
  <a href='http://wernerpaddles.com/paddles/fishing/skagit-hooked'>http://wernerpaddles.com/paddles/skagit-hooked</a>
</p>
<br/>
<p>
  I also have the Sea Whisper 240, 2 lbs 6 oz. $115.00
  <a href='http://www.seattlesportsco.com/paddling/paddles/seawhisper-paddle-w-carbon-shaft-230-240.html'>http://www.seattlesportsco.com/paddling/paddles/seawhisper-paddle-w-carbon-shaft-230-240.html</a>
</p>
<br/>
<p>
  C-Tug boat cart – these are heavy boats- watch the video - $155.00
  <a href='http://www.youtube.com/watch?v=V0ijJCIuXyM'>http://www.youtube.com/watch?v=V0ijJCIuXyM</a>
</p>
<br/>
<p>
  Best kayak fishing PFD on the market, NRS Chinook- - $110.00 –
  <a href='http://www.nrs.com/product/40009.03/nrs-chinook-fishing-pfd'>http://www.nrs.com/product/40009.03/nrs-chinook-fishing-pfd</a>
</p>
<br/>
<p>
  A darn good seat- COD Apex 1- $75.00
  <a href='https://www.codpaddlesports.com/products/apex-1-deluxe-seat'>https://www.codpaddlesports.com/products/apex-1-deluxe-seat</a>
</p>
<br/>
<p>
  Best darn seat on the market- Surf to Summit Expedition GTS - $190.00
  <a href='http://www.surftosummit.com/gts-expedition-molded-foam-kayak-seat-pack-p-1916.html'>http://www.surftosummit.com/gts-expedition-molded-foam-kayak-seat-pack-p-1916.html</a>
</p>
<br/>
<p class="sad">
  Mine is a home based business.
  <br/>
  I have a business license. I collect and pay retail taxes like any other business.
  <br/>
  I do things by appointment. I do have a day job.
  <br/>
  I’m listed on the dealer page of both Malibu and Cobra
  <br/>
  I carry boats, seats, paddles, pfd’s and boat carts as well as a few other get started kinds of things.
  <br/>
  I take VISA, MC and cash, no checks.
</p>
<br/>
<br/>
<p>
  Hope this helps. Let me know if you have any questions.
</p>
<br/>
<p>
  The quality of your experience is directly proportional to the quality of your equipment!
</p>
<br/>
<p>
  Tom Lyles
  <br/>
  Old Dominion Kayaks
  <br/>
  Richmond, VA
  <br/>
  C804-833-7220
</p>