<%= render partial: 'shared/section_title', locals: {h1_main: 'About', h1_small: 'Old Dominion Kayaks'} %>
<%= render partial: 'shared/breadcrumbs/section', locals: {current_page: 'About'} %>
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>
          Mine is a home based business. Demos and product viewings are by appointment only. I do have a day job. I'm listed on the dealer page of Malibu Kayaks. I carry boats, seats, paddles, PFD's and boat carts as well as a few other "get started" kind of
          things. I take Visa, Mastercard and cash only. No checks. The quality of your experience is directly proportional to the quality of your equipment!
        </p>
      </div>
      <div class="col-md-4">
        <h3>Contact Details</h3>
        <p>
          Tom Lyles<br/>Richmond, VA 23225<br/>
        </p>
        <p>
          <i class="fa fa-phone"></i>
          <abbr title="Phone"></abbr>: (804) 833-7220
        </p>
        <p>
          <i class="fa fa-envelope-o"></i>
          <abbr title="Email"></abbr>:
          <a href="mailto:tom@gotkayak.com">tom@gotkayak.com</a>
        </p>
        <p>
          <i class="fa fa-clock-o"></i>
          <abbr title="Hours"></abbr>: Monday - Saturday: 9:00 AM to 7:00 PM
        </p>
      </div>
    </div>
  </div>
</section>