%h1 Adventures
%p
  At Old Dominion Kayaks, we try to get out on the water as much as we can. When we get a chance to, we'll post photos and write-ups about the trips we take. Check out the links below and catch up on all the places we take the kayaks.
%br/
%ul
  - @waterbodies.each do |water|
    %li
      = link_to water.name,  :controller => :static, :action => :adventure, :name => water.name