Thinking about having a quick blurb about us stocking Cobra and Malibu kayaks. And check out the accessories we carry, blah blah blah.

Then, 2 side by side images. One for Cobra kayaks, the other for Malibu. Click on images to see each mfrs kayaks.