%h1 Warranty
%br/
%strong LIMITED LIFETIME WARRANTY
%br
%br
%a{:href => "http://www.malibukayaks.com/pdfs/MK2008-Manual.pdf"} Download Owner's Manual Here
%p
  Malibu Kayaks LLC warrants as a limited lifetime warranty, this kayak purchased is to be free of manufacturing defects in workmanship and materials from the original date of consumer purchase. This warranty is effective upon receipt of registration card, post-dated within 90 days along with proof of purchase from an authorized Malibu Kayaks dealer and only applies to the original owner. Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you. This warranty gives you specific legal rights, and you may also have other rights which vary from state to state. Malibu Kayaks reserves the right to choose the final warranty resolution. Option to repair or replace parts of a given kayak is determined against damages and in the discretion of Malibu Kayaks. Some exclusions may apply. This warranty is valid only in the U.S.A.
%br
%p
  Malibu Kayaks is not liable for any injury or damage to person or property sustained as a result of the use of kayaks manufactured by Malibu Kayaks. The user of any such kayak acknowledges and assumes any and all risk associated with the use of such kayak including death, waives any and all claims against Malibu Kayaks LLC., its agents and assigns.
%br
%p
  Malibu Kayaks reserves the right to change its products without notice while not incorporating those changes into completed and purchased products in the possession of dealers or consumers.
%br
%strong STEPS TO EXPEDITE CLAIM
%br
%p
  In the unlikely event that your kayak has any manufacturing defects, photos and description of your claim are required. All warranty claims are subject to any exclusion and in lieu of provided evidence decided upon the discretion of Malibu Kayaks.
%br
%ol
  %li Provide clear photographs of damages.
  %li Prepare written claim (provided by Malibu Kayaks warranty department.)
  %li Provide proof of purchase.
  %li
    Send Claims to:
    %a{:href => "mailto:Support@MalibuKayaks.com"} Support@MalibuKayaks.com
%br
%p
  After receiving above items, Malibu Kayaks may request to have your kayak returned to the original dealer for inspection. Malibu Kayaks will warrant the right to either exchange or repair your kayak, free of charge to customer excluding shipping charges. If you are unable to get a replacement kayak from an authorized dealer, Malibu Kayaks will ship the warranty replacement kayak, (shipping fees will apply). Kayak Serial # must be cut and mailed to Malibu Kayaks to finalize all kayak replacement claims.
%br
%strong THIS WARRANTY DOES NOT COVER THE FOLLOWING:
%br
%ul
  %li Normal wear and tear or as a result of abuse or failure to maintain kayak.
  %li Discoloration due to excessive sun exposure.
  %li Damage caused by alterations, modifications, storage or mooring to kayak.
  %li Transportation of kayaks; significant or incidental damage to kayak and/or personal property.
  %li Damage due to failure of following procedures and instructions provided.
  %li Kayaks not registered with manufacturer at time of warranty claim.
  %li Factory 2nds (Kayaks purchased as a blem).
%br
%strong EXCLUSIONS
%br
%p
  Warranty is considered void after 3 months if kayak is used commercially or for rental fleets. Kayaks structurally altered or subjected to stress beyond the physical limits of the materials used in hull or components, or damaged as a result of abnormal use are considered as damage done by the user and void of Malibu Kayaks warranty. Warranty does not cover un-recommended/unauthorized alterations or unauthorized repair.
%br
%strong WARRANTY AND REPLACEMENT PARTS
%br
%p
  Any part or parts replaced or repaired hereafter shall be warranted as an original part or parts purchased by the consumer.
